<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>First Language</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.firstName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.age}}</td>
            <td>{{user.language}}</td>
            <td *ngIf="user.active">Active</td>
            <td *ngIf="!user.active">Inactive</td>

            <td [ngSwitch]="user.active">
                <span *ngSwitchCase="true" [class.highlightGreen]="true">Active</span>
                <span *ngSwitchCase="false" [class.highlightRed]="true">Inactive</span>
            </td>
        </tr>
    </tbody>
</table>


